/* Navbar styling */
.navbar {
  background: rgba(223, 237, 244, 0.9);
  color: #1e0707;
  padding: 15px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 6px rgba(29, 6, 6, 0.3);
  backdrop-filter: blur(5px);
}

.navbar button {
  background: white;
  color: #be385c;
  padding: 8px 14px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.2s;
}

.navbar button:hover {
  background: #e2e8f0;
}

/* App container */
.App {
  padding-bottom: 30px;
}
